<div class="container">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let item of rolsList">
                    <td>{{item.idRols}}</td>
                    <td>{{item.description}}</td>
                    <td class="d-flex">
                        <button class="btn-warning"><i class="fas fa-eye"></i></button>
                        <button class="btn-danger"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn-primary"><i class="fas fa-pen-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
