<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/rols/rols-list">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/projects/projects-list">Proyectos</a>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/tasks/tasks-list">Tareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/users/users-list">Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>