<div class="container">
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Numero documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Eliminado</th>
                    <th>Fecha de creacion</th>
                    <th>Fecha de actualizacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>
                        <button><i class="fas fa-eye"></i></button>
                        <button class="ml-5"><i class="fas fa-trash-alt"></i></button>
                        <button><i class="fas fa-pen-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
