<div class="container">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Alias</th>
                    <th>Estado</th>
                    <th>Borrado</th>
                    <th>Fecha de incio</th>
                    <th>Fecha de fin</th>
                    <th>Fecha de creacion</th>
                    <th>Fecha de actualizacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let item of projectsList">
                    <td>{{item.idProjects}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.alias}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.deleted}}</td>
                    <td>{{item.startDate | date :'dd-MMM-yy'}}</td>
                    <td>{{item.endDate | date :'dd-MMM-yy'}}</td>
                    <td>{{item.creationDate | date :'dd-MMM-yy'}}</td>
                    <td>{{item.updateDate | date :'dd-MMM-yy'}}</td>
                    <td class="d-flex">
                        <button class="btn-warning"><i class="fas fa-eye"></i></button>
                        <button class="btn-danger"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn-primary"><i class="fas fa-pen-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
