<div class="container">
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Alias</th>
                    <th>Estado</th>
                    <th>Borrado</th>
                    <th>Fecha de incio</th>
                    <th>Fecha de fin</th>
                    <th>Fecha de creacion</th>
                    <th>Fecha de actualizacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let item of tasksList">
                    <td>{{item.idTask}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.alias}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.deleted}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td>{{item.creationDate}}</td>
                    <td>{{item.updateDate}}</td>
                    <td class="d-flex">
                        <button class="btn-warning"><i class="fas fa-eye"></i></button>
                        <button class="btn-danger"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn-primary"><i class="fas fa-pen-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
